<template name="table">
  {{> sparkline type="line" selector="my-sparkline" array=miscNums}}  
  <h2><i class="fa fa-globe"></i> {{title}}</h2>
  Keywords: 
  <ul class="list-inline"> 
  {{#each tags}}
  <li><b>{{this}}</b></li>
  {{/each}}
  </ul>

  {{#if url}}
  <a class="btn btn-default" href="{{url}}" target="_blank">Raw Data</a>
  {{/if}}
  <div class="table-responsive">
  <table class="table">
    {{> thead}}
    {{#each data}}
      {{> row}}
    {{/each}}
  </table>
  </div>
</template>

<template name="thead">
  <thead>
    {{#each colNames}}
    <th>{{this}}</th>
    {{/each}}
  </thead>
</template>

<template name="row">
  <tr>
    {{#each this}}
      {{> column}}
    {{/each}}
  </tr>
</template>

<template name="column">
  <td>{{this}}</td> 
</template>
